@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #FFF;
    --background-url: url(/assets/images/bg-mobile-dark.png);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(/assets/images/moon-stars.svg);
}

.light {
    --text-color: #000;
    --background-url: url(/assets/images/bg-mobile-light.png);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(/assets/images/sun.svg);
}

body {
    background-image: var(--background-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    color: var(--text-color);
}

#switch {
    width: 64px;
    position: relative;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: #FFF var(--switch-bg-url) no-repeat center;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back .2s;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
    cursor: pointer;
}

.light #switch button {
    /* right: 0;
    left: initial; */
    animation: slide-in .2s forwards;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
    transition: background 0.3s;
    cursor: pointer;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#socil-links {
    display: flex;
    padding: 24px 0;
    font-size: 24px;
    justify-content: center;
}

#socil-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: background 0.3s;
    border-radius: 50%;
    color: var(--text-color);
}

#socil-links a:hover {
    background: var(--highlight-color);
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
}

@media (min-width: 700px) {
    :root {
        --background-url: url(/assets/images/bg-desktop-dark.png);
    }

    .light {
        --background-url: url(/assets/images/bg-desktop-light.png);
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}

/* .link-modal {
    font-family: inherit;
    cursor: pointer;
    background: #1a1a1a;
    color: #f9f9f9;
    border: 0;
    border-radius: 8px;
    padding: 20px 36px;
    font-size: 16px;
  } */
  
  @keyframes background-in {
    0% {
      scale: 0 0.005;
    }
    33% {
      scale: 1 0.005;
    }
    66%,
    100% {
      scale: 1 1;
    }
  }
  
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 1);
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }
  
  body.open .modal-background {
    visibility: visible;
    opacity: 1;
    animation: background-in 1s both;
  }
  
  @keyframes modal-in {
    0%,
    66% {
      opacity: 0;
      visibility: hidden;
      translate: -50% -30%;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #37353b;
    color: #f9f9f9;
    padding: 28px 40px;
    width: 540px;
    height: 340px;
    border-radius: 12px;
    translate: -50% -50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  
  body.open .modal {
    opacity: 1;
    visibility: visible;
    animation: modal-in 1s;
    z-index: 2;
  }
  
  body.closed .modal {
    opacity: 0;
    visibility: hidden;
    translate: -50% -50%;
  }
  
  h2 {
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 21px;
  }
  
  p {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
  }